*{
    margin: auto;
}

.content_div_one_photo {
    display: flex;
    height: 100%;
    width: 100%;
}

.inicioCafeShop {
    position: relative;    
    display: inline-block; 
} 


.card-title {

    font-size: 42px;
    position: absolute;    
    top: 30%;  
    left: 12%;       
}

.heading {
    font-size: 20px;
    font-weight: 600;
    color: #3D5AFE
}

.line1 {
    color: #000;
    font-size: 12px
}

.line2 {
    color: #000;
    font-size: 12px
}

.line3 {
    color: #000;
    font-size: 12px
}

.cards {
    transition: all 0.2s ease;
    cursor: pointer
}

.cards:hover {
    transform: scale(1.1)
}




.card1 {
    background-color: #ffc107;
    border-radius: 15px;
    height: 300px
}

.card2 {
    background-color: #fff;
    border-radius: 15px;
    border: 2px solid #919ba9;
    height: 300px
}

.first {
    color: #132235
}

.text1 {
    color: #132235;
    font-weight: 700
}

.detail {
    color: #132235
}

.readmore {
    font-weight: 400;
    color: #fff
}

.btn-submit {
    border-radius: 50px;
    border: none;
    height: 35px;
    width: 120px;
    font-size: 14px;
    font-weight: 500
}

.text2 {
    color: #000;
    font-weight: 700
}

.second {
    color: #8b96a5
}

.btn-submit1 {
    border-radius: 50px;
    border: none;
    height: 35px;
    width: 120px;
    font-size: 14px;
    background-color: #f1884d;
    color: #fff;
    font-weight: 500
}

@media screen and (max-width: 768px) {
.card-title {
        font-size: 20px;
        position: absolute;    
        top: 30%;  
        left: 15%;       
    }
}


@media screen and (max-width: 425px) {
    .card-title {
            font-size: 15px;
            position: absolute;    
            top: 30%;  
            left: 15%;       
        }
    }