*{
    margin: auto;
}

.content_div_one_photo {
    display: flex;
    height: 100%;
    width: 100%;
}

.inicioCafeShop {
    position: relative;    
    display: inline-block; 
} 


.card-title {

    font-size: 42px;
    position: absolute;    
    top: 30%;  
    left: 12%;       
}

.heading {
    font-size: 20px;
    font-weight: 600;
    color: #3D5AFE
}

.line1 {
    color: #000;
    font-size: 12px
}

.line2 {
    color: #000;
    font-size: 12px
}

.line3 {
    color: #000;
    font-size: 12px
}

.cards {
    transition: all 0.2s ease;
    cursor: pointer
}

.cards:hover {
    transform: scale(1.1)
}




.card1 {
    background-color: #ffc107;
    border-radius: 15px;
    height: 300px
}

.card2 {
    background-color: #fff;
    border-radius: 15px;
    border: 2px solid #919ba9;
    height: 300px
}

.first {
    color: #132235
}

.text1 {
    color: #132235;
    font-weight: 700
}

.detail {
    color: #132235
}

.readmore {
    font-weight: 400;
    color: #fff
}

.btn-submit {
    border-radius: 50px;
    border: none;
    height: 35px;
    width: 120px;
    font-size: 14px;
    font-weight: 500
}

.text2 {
    color: #000;
    font-weight: 700
}

.second {
    color: #8b96a5
}

.btn-submit1 {
    border-radius: 50px;
    border: none;
    height: 35px;
    width: 120px;
    font-size: 14px;
    background-color: #f1884d;
    color: #fff;
    font-weight: 500
}

@media screen and (max-width: 768px) {
.card-title {
        font-size: 20px;
        position: absolute;    
        top: 30%;  
        left: 15%;       
    }
}


@media screen and (max-width: 425px) {
    .card-title {
            font-size: 15px;
            position: absolute;    
            top: 30%;  
            left: 15%;       
        }
    }


    blockquote {
        font-size: 1.1em;
        line-height: 1.6em;
        padding: 20px 20px 20px 40px;
        border-left: none;
        position: relative;
        text-indent: -19px;
        border-radius: 5px;
    }
    
    section#block_content {
        min-height: 400px;
        padding-top: 40px;
        text-align: left;
        border-radius: 5px;
    }
    
    blockquote p {
        font-size: 1em
    }
    
    blockquote:before,
    blockquote:after {
        font-family: Arial, serif;
        font-size: 2.5em;
        vertical-align: middle;
        line-height: 0
    }
    
    blockquote:before {
        content: open-quote;
        margin-right: 4px
    }
    
    blockquote:after {
        content: close-quote;
        margin-left: 3px
    }
    
    blockquote.blockstyle,
    blockquote.style2 {
        background: #fff;
        font-style: italic
    }
    
    blockquote.blockstyle p,
    blockquote.style2 p {
        display: inline
    }
    
    blockquote.blockstyle {
        border-left: 3px solid #f0715f;
        position: relative
    }
    
    blockquote.blockstyle>span.triangle:before {
        text-indent: 0;
        content: "\f0da";
        font-family: FontAwesome;
        color: #f0715f;
        position: absolute;
        left: -1px;
        top: 50%;
        margin-top: -11px;
        font-style: normal
    }
    
    blockquote.blockstyle:before,
    blockquote.blockstyle:after {
        color: #f0715f
    }
    
    blockquote.blockstyle.border-color-blue {
        border-color: #01b7f2
    }
    
    blockquote.blockstyle.border-color-blue>span.triangle:before {
        color: #01b7f2
    }
    
    blockquote.blockstyle.border-color-yellow {
        border-color: #fdb714
    }
    
    blockquote.blockstyle.border-color-yellow>span.triangle:before {
        color: #fdb714
    }